@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        color-scheme: light;
    }

    body {
        @apply bg-slate-50 text-slate-900 antialiased;
    }

    ::selection {
        @apply bg-brand-600 text-white;
    }
}
